AUTH_DB_URL=
AUTH_SECRET=
AUTH_API_KEY=

TURNSTILE_SECRET_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXT_PUBLIC_IAM_URL=http://localhost:9000
NEXT_PUBLIC_RPC_URL=http://localhost:9001
NEXT_PUBLIC_WEB_URL=http://localhost:3000

IAM_PORT=9000
RPC_PORT=9001
WEB_PORT=3000