---
import RootLayout from "../layouts/root-layout.astro";
---

<RootLayout>
  <div class="flex h-screen items-center justify-center">
    <button class="btn btn-primary">Button</button>
  </div>
</RootLayout>
