---
import { cn } from "@packages/utils/tailwind";

const { pathname } = Astro.url;
const currentPath = pathname.match(/^\/$/) ? "/" : pathname.replace(/\/$/, "");

const activeDock = (path: string) => cn(currentPath === path && "dock-active");
---

<div class="dock dock-xl bg-black text-white sm:hidden">
  <a href="/" class={activeDock("/")}>
    <svg
      class="size-[1.2em]"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      ><g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt"
        ><polyline
          points="1 11 12 2 23 11"
          fill="none"
          stroke="currentColor"
          stroke-miterlimit="10"
          stroke-width="2"></polyline><path
          d="m5,13v7c0,1.105.895,2,2,2h10c1.105,0,2-.895,2-2v-7"
          fill="none"
          stroke="currentColor"
          stroke-linecap="square"
          stroke-miterlimit="10"
          stroke-width="2"></path><line
          x1="12"
          y1="22"
          x2="12"
          y2="18"
          fill="none"
          stroke="currentColor"
          stroke-linecap="square"
          stroke-miterlimit="10"
          stroke-width="2"></line></g
      ></svg
    >
    <span class="dock-label">Home</span>
  </a>

  <a href="/events" class={activeDock("/events")}>
    <svg
      class="size-[1.2em]"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      ><g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt"
        ><polyline
          points="3 14 9 14 9 17 15 17 15 14 21 14"
          fill="none"
          stroke="currentColor"
          stroke-miterlimit="10"
          stroke-width="2"></polyline><rect
          x="3"
          y="3"
          width="18"
          height="18"
          rx="2"
          ry="2"
          fill="none"
          stroke="currentColor"
          stroke-linecap="square"
          stroke-miterlimit="10"
          stroke-width="2"></rect></g
      ></svg
    >
    <span class="dock-label">Events</span>
  </a>
</div>
